@font-face {
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Montserrat-Regular'),
        url('../fonts/Montserrat-Regular.woff2') format('font-woff2'),
        url('../fonts/Montserrat-Regular.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Montserrat-Medium'),
        url('../fonts/Montserrat-Medium.woff2') format('font-woff2'),
        url('../fonts/Montserrat-Medium.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: local('Montserrat-SemiBold'),
        url('../fonts/Montserrat-SemiBold.woff2') format('font-woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Montserrat-Bold'),
        url('../fonts/Montserrat-Bold.woff2') format('font-woff2'),
        url('../fonts/Montserrat-Bold.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Montserrat-Black';
    font-weight: 900;
    font-style: normal;
    src: local('Montserrat-Black'),
        url('../fonts/Montserrat-Black.woff2') format('font-woff2'),
        url('../fonts/Montserrat-Black.woff') format('font-woff');
    font-display: swap;
} 
  
@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('font-woff2'),
        url('../fonts/Roboto-Regular.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.woff2') format('font-woff2'),
        url('../fonts/Roboto-Bold.woff') format('font-woff');
    font-display: swap;
} 
  
@font-face {
    font-family: 'Humane-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: local('Humane-SemiBold'),
        url('../fonts/Humane-SemiBold.woff2') format('font-woff2'),
        url('../fonts/Humane-SemiBold.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Humane-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Humane-Bold'),
        url('../fonts/Humane-Bold.woff2') format('font-woff2'),
        url('../fonts/Humane-Bold.woff') format('font-woff');
    font-display: swap;
}
  
 