    
     
 body { 
    @extend %montserrat-700;
    font-size: 22px;
    line-height: 140%; 
    color: #000;
} 
   
   .container {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 15px; 
    border: 1px solid transparent;   
}  
 
.title{ 
    @extend %humane-700; 
    font-size: 110px; 
    line-height: 90%; 
    color: #000; 
} 
 
